
#x-search {
 input {
   position: relative;
   top: 15px;
 }
  //& .container {
  //  margin: 30px auto;
  //  position: relative;
  //  width: 80%;
  //  padding-bottom: 66%;
  //  perspective: 800px;
  //  transform-style: preserve-3d;
  //  user-select: none;
  //  text-align: center;
  //  display: inline;
  //}
& .mdc-text-field--focused {
  > input {
    opacity:1;
  }
}
  > input {
    opacity: 0;
  }
  & .content__container__list {
    position: relative;
    top: -11px;
    padding-left: 55px !important;
    color: var(--text);
  }
  & .mdc-floating-label--float-above {
    opacity:0.55;
  }
  & .mdc-text-field .mdc-floating-label   {
    color: var(--text);
    top: 2.15rem;
  }
  div {
    > label {
      font-size: 1rem;
    }
    > input {
      padding: 0px;
      color:var(--text);
    }
  }
.content {
  &__container {
    //&__text {
    //  display: inline;
    //  float: left;
    //  margin: 0;
    //}
    &__list {
      margin-top: 0;
      padding-left: 110px;
      text-align: left;
      list-style: none;
      -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      &__item {
        line-height: 40px;
        margin: 0;
      }
    }
  }
}
@import "Animations";
}
